# IDE - VSCode
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/
apps/*/node_modules/

# dotenv environment variable files
.env

# Local source
dist/
.next/

# turbo
.turbo

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
